body,html{
    margin: auto;
}
#canvas{
    border:1px solid black;
    background: rgba(150,0,255,0.5);
}
.level{
    border:1px solid black;
}

#hud{
    top: 50px;
    left: 100px;
    font-size: 50px;
    position: absolute;
    margin: 0 auto;
}